@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans:wght@300&family=Playfair+Display:ital,wght@1,500&display=swap');

:root {
    --fonts-primary: "Open Sans", sans-serif;
    --fonts-secondary: "Roboto", sans-serif;
    --fonts-text: 

    /* GAPS */
    --baseline-unit: 0.25rem;

    --gap: calc(var(--baseline-unit) * 8);
    --gap-small: calc(var(--baseline-unit) * 6);
    --gap-medium: calc(var(--baseline-unit) * 10);
    --gap-large: calc(var(--baseline-unit) * 16);
    --gap-xlarge: calc(var(--baseline-unit) * 32);

    --gap-grid: 0.5 rem;
    --gap-section: 4.625rem;
    --gap-container: 1rem;

    --cols: 12;

    /* FONT SIZES */

    --base-font-size: 16;

    /**
     * Font sizes always expressed in rems!
     *
     */

    --font-size-micro: calc((14.45 / var(--base-font-size)) * 1rem); /* 12 - 14 */
    --font-size-tiny: calc((18.8 / var(--base-font-size)) * 1rem); /* 16 */
    --font-size-small: calc((21.15 / var(--base-font-size)) * 1rem); /* 18 */
    --font-size-medium: calc((23.5 / var(--base-font-size)) * 1rem); /* 20 */
    --font-size-xmedium: calc((32.5 / var(--base-font-size)) * 1rem); /* 28 */
    --font-size-large: calc((42 / var(--base-font-size)) * 1rem); /* 36? 32? */
    --font-size-xlarge: calc((48 / var(--base-font-size)) * 1rem); /* 42 - 52 */
    --font-size-huge: calc((65 / var(--base-font-size)) * 1rem); /* 56 - 64 -  */
}

.site {
    background: var(--background-color);
    color: var(--text-dark);
    font-family: var(--fonts-primary);
}

.entry-title {
    text-align: center;
}

h1, 
h2, 
h3,
h4 {
    font-family: var(--fonts-secondary);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

p {
    font-family: var(--fonts-primary);
}

.media {
    object-fit: cover;
    max-width: 100%;
}